body{
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.row div{
    /* border: 1px solid black; */
    margin: 3px;
 
}

.container{
    margin-top: 5em ;
}

#rev{
    text-align: center;
}

#output-box {
    text-align: center;
    margin-top: 5em
}

.footer {
    position: fixed;
    padding-left: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #037BFE;
    color: white;
    text-align: left;
    font-size: large;
 }

 .warning-color{
color: red;
 }